@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Silkscreen:wght@400;700&display=swap');

*{
  font-family: "Newsreader", serif;
  font-weight: 500;
}

.customLogo{
  font-family: "Silkscreen", sans-serif;
  font-size: 32px;
}